apiVersion: apps/v1
kind: Deployment
metadata:
  name: laxya-portfolio
  labels:
    app: laxya-portfolio
spec:
  replicas: 2
  selector:
    matchLabels:
      app: laxya-portfolio
  template:
    metadata:
      labels:
        app: laxya-portfolio
    spec:
      containers:
      - name: laxya-portfolio
        # The image will be replaced by Jenkins during deployment
        image: 172.31.78.13:8082/laxya-portfolio:latest 
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
      imagePullSecrets:
      - name: nexus-credentials
